/* Importazione fonts "Poppins" */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600&display=swap');


/* Variabili per colori */
:root {
    --primary-font-color: white;
    --secondary-font-color: #243D3F;
    --tertiary-font-color: #8a8d8d;
    --input-bg-color: #e9e9e9;
    --primary-font-style: 'Poppins';
    --background-color: #15C5CE;
    --hover-color: #FE9B0E;
    --line-color: #B1B9BB;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

body {
    min-height: 100vh;
}

#container {
    background: white;
    height: auto;
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

#logo {
    position: relative;
    left: 16px;
    font-size: 1.75rem;
    width: 245px;
    color: #15C5Ce;
    text-decoration: none;
    font-weight: 600;
}

/* Gestione larghezza logo per schermi piccoli */
@media only screen and (max-width:580px) {
    #logo {
        font-size: 1.125rem;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: auto;
    border-bottom: 1px solid #B1B9BB;
    border-top: 16px solid #15C5CE;
}


#lateral-menu {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100%;
    background: var(--background-color);
    z-index: 2;
    font-size: 32px;
}

#lateral-menu ul li {
    margin: 15px;
    list-style-type: none;
}

#lateral-menu ul li a {
    color: white;
    text-decoration: none;
}

#lateral-menu ul li a:hover {
    color: var(--hover-color);


}

#menu {
    display: none;
    position: relative;
    left: -50px;
}

#menu ul li a {
    color: #243D3F;
    text-decoration: none;

}

#menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 160px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title {
    font-size: min(5vw, 24px);
}

/* È la prima sezione */
#tour {
    display: flex;
    text-align: start;
    
    justify-content: center;
    max-width: 450px;
    flex-direction: column;
    margin-top: 30px;
    padding: 15px;
}


#tour-title {
    font-size: min(3vw, 16px);
    margin-top: 15px;
    margin-bottom: 65px;
    border-bottom: 1px solid var(--line-color);
    width: 70vw;
    max-width: 450px;
    padding-bottom: 35px;
    color: var(--secondary-font-color);
}

#tour-image {
    display: flex;
    margin-top: 33px;
    margin-bottom: 15px;
}

#tour-image img{
    height: auto;
    width: 100%;
    max-width: 450px;
    border-radius: 14px;
}


#date-results {
    position: relative;
    top: 8px;
    left: 5px;
    color: var(--secondary-font-color);
    font-size: 24px;
}

#location-title {
    position: relative;
    left: 5px;
    color: #B1B9BB;
}

#location-subtitle {

    margin-right: 10px;
    color: var(--secondary-font-color);
    margin-top: 144px;
}

#suggestion-title {
    max-width: 450px;
    position: relative;
    left: 0px;
}

#suggestion-title h2 {
    font-weight: 200;
}

#show-more {
    margin-bottom: 80px;
}

/* È il wrapper per il formulario */
#book-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    background: white;
}

#book-search label {
    font-weight: 600;

}

#book-search h2 {
    color: #243D3F;
    font-size: 1.3rem;
}

/* È il formulario, seconda sezione*/
#form-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    color: var(--secondary-font-color);
    margin-bottom: 100px;
    margin-top: 35px;
}



#form-booking input[type=date] {
    font-family: var(--primary-font-style);
    background-color: var(--input-bg-color);
    color: var(--tertiary-font-color);
    border: none;
    height: 48px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    text-indent: 5px;
    margin-bottom: 20px;
}

#form-booking input[type=text] {
    background-color: var(--input-bg-color);
    color: var(--tertiary-font-color);
    border: none;
    height: 48px;
    width: 100%;
    max-width: 400px;
    text-indent: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: var(--primary-font-style);
}

#form-booking input[type=submit] {
    background: #15C5CE;
    border: none;
    height: 48px;
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    color: var(--primary-font-color);
    font-family: var(--primary-font-style);
    cursor: pointer;
    font-weight: 600;
}

#form-booking input[type=submit]:hover {
    background: #0f9299;
}

#form-booking input[value="Book Now!"] {
    font-size: 20px;
}

#form-booking label {
    align-self: flex-start;
    position: relative;

}

#book-button {
    margin-top: 20px;
    font-size: 18px;
}



/* È la terza sezione */
#tour-suggestion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 450px;
    margin-top: 30px;
    background: #F8F8F8;
    padding: 15px;
}

#tour-suggestion-title {
    font-size: min(3vw, 16px);
    margin-top: 15px;
    max-width: 70vw;
    padding-bottom: 35px;
}

#alternative-title {
    color: var(--secondary-font-color);
    font-size: 20px;
    text-indent: 8px;
    position: relative;

}

#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#show-more {
    background: var(--hover-color);
    border: none;
    height: 48px;
    width: 100%;
    max-width: 200px;
    font-size: 18px;
    border-radius: 8px;
    color: var(--primary-font-color);
    font-family: var(--primary-font-style);
    cursor: pointer;
    font-weight: 600;
}


/* Blocco con immagine di sfondo poco prima del footer nella modalità desktop */
#dream-vacation {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background: #15C5CE;
}

footer a {
    color: var(--primary-font-color);
    text-decoration: none;
}

#footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary-font-color);
    font-size: min(3vw, 16px);
}

/* Sono i link presenti nel footer */
#footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

/* Schermo Desktop */
@media only screen and (min-width: 1450px) {



    #container {
        display: grid;
        grid-template-rows: 148px auto 148px;
    }

    header {
        height: 120px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "sez1 sez2 sez3"
        "dream-vacation dream-vacation dream-vacation";
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
    }

    #book-search::before{
        content: ' ';
        position: absolute;
        z-index: 1;
        width: 400px;
        height: 550px;
        border-left: 1px solid var(--line-color);
        margin-bottom: 55px;
        margin-right: 77px;
    }

    #tour{
        grid-area: sez1;
    }

    /* Border-bottom del titolo della prima sezione */
    #tour-title{
        border: none;
    }

    #book-search{
        grid-area: sez3;
    }

    #tour-suggestion{
        grid-area: sez2;
    }


    #tour,
    #book-search,
    #tour-suggestion {
        min-width: 350px;
        background: white;
        height: 618px;
        align-self: center;
        justify-self: center;
    }


    /* Bottone show more della terza sezione */
    #show-more{
        display: none;
    }

    /* Titolo della terza sezione */
    #alternative-title{
        display: none;
    }


    #tour-suggestion {
        align-self: center;
        justify-self: center;
        background: white;
    }


    #tour img {}

    /* Blocco con immagine di sfondo poco prima del footer nella modalità desktop */
    #dream-vacation {
        grid-area: dream-vacation;
        display: block;
        height: 500px;
        background: rgb(15, 109, 126);
        width: 100%;
    }

    footer {
        position: relative;
        bottom: 0px;
        height: 148px;
    }

    #footer-wrapper {
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1950px) {


    
    main{
        display: grid;
        grid-template-columns: 650px 650px 650px;
        grid-template-areas: 
        "sez1 sez2 sez3"
        "dream-vacation dream-vacation dream-vacation";
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;
    }


    

    
}