@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600&display=swap');


:root {
    --primary-font-color: white;
    --secondary-font-color: #243D3F;
    --tertiary-font-color: #8a8d8d;
    --input-bg-color: #e9e9e9;
    --primary-font-style: 'Poppins';
    --background-color: #15C5CE;
    --hover-color: #FE9B0E;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}



body {
    min-height: 100%;
}

#container {
    background: white;
    height: auto;
    max-width: 100vw;
    display: grid;
    
}

#logo {
    position: relative;
    left: 16px;
    font-size: 1.75rem;
    width: 245px;
    color: #15C5Ce;
    text-decoration: none;
    font-weight: 600;
}

@media only screen and (max-width:580px) {
    #logo {
        font-size: 1.125rem;
    }
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: auto;
    border-bottom: 1px solid #B1B9BB;
    border-top: 16px solid #15C5CE;
}


#lateral-menu {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100%;
    background: var(--background-color);
    z-index: 2;
    font-size: 32px;
}

#lateral-menu ul li {
    margin: 15px;
    list-style-type: none;
}

#lateral-menu ul li a {
    color: white;
    text-decoration: none;
}

#lateral-menu ul li a:hover {
    color: var(--hover-color);
    
}

#menu {
    display: none;
    position: relative;
    left: -50px;
}

#menu ul li a {
    color: #243D3F;
    text-decoration: none;

}

#menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 160px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tour{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-indent: -30vw;
    width: 80vw;
    margin-top: 30px;
}

#tour-title {
    font-size: min(3vw, 16px);
    margin-top: 15px;
    margin-bottom: 65px;
    border-bottom: 1px solid black;
    width: 70vw;
    padding-bottom: 35px;
}

#tour-image {
    display: flex;
    margin-top: 33px;
    margin-bottom: 15px;
}

#tour-image img, #alternative-tour-image >img {
    height: auto;
    width: 100%;
    max-width: 550px;
    border-radius: 14px;
}


#date-results {
    color: var(--secondary-font-color);
}

#location-title {
    position: relative;
    font-size: 14px;
}

#location-subtitle {
    margin-right: 10px;
    color: var(--secondary-font-color);
    margin-top: 144px;
}

#suggestion-title {
    text-align: center;
}

#suggestion-title h2 {
    font-weight: 200;
}


#book-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    background: white;
}

#book-search label {
    font-weight: 600;
}

#book-search h2 {
    color: #243D3F;
    position: relative;
    font-size: 1.6rem;
    left: -20px;
}

#form-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    color: var(--secondary-font-color);
    margin-bottom: 100px;
    margin-top: 35px;
}


#form-booking input[type=date] {
    font-family: var(--primary-font-style);
    background-color: var(--input-bg-color);
    color: var(--tertiary-font-color);
    border: none;
    height: 48px;
    width: 60%;
    border-radius: 5px;
    text-indent: 5px;
    margin-bottom: 20px;
    min-width: 180px;
}

#form-booking input[type=text] {
    background-color: var(--input-bg-color);
    color: var(--tertiary-font-color);
    border: none;
    height: 48px;
    width: 60%;
    text-indent: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: var(--primary-font-style);
    min-width: 180px;
}

#form-booking input[type=submit] {
    background: #15C5CE;
    border: none;
    height: 48px;
    width: 60%;
    border-radius: 8px;
    color: var(--primary-font-color);
    font-family: var(--primary-font-style);
    cursor: pointer;
    min-width: 180px;
    font-weight: 600;
}

#form-booking input[type=submit]:hover {
    background: #0f9299;
}

#form-booking input[value="Book Now!"] {
    font-size: 20px;
}

#form-booking label {
    position: relative;
    right: 90px;
}

#book-button {
    margin-top: 20px;
    font-size: 20px;
}

#alternative-tours{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background: rgb(226, 226, 226);
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #15C5CE;
}

footer a {
    color: var(--primary-font-color);
    text-decoration: none;
}

#footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary-font-color);
    font-size: min(3vw, 16px);
}

#footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}